.painel{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.half{
    display: flex;

}

.half>*{
    padding: 0 !important;

}

#i2x1{
    display: flex;
    padding: 2% 2% 0 0 !important ;
}


.i2x1 img{
    width: 100%;
    
    
}

.i1x1 {
    display: flex;
    padding: 5% 5% 0 0 !important;

}

.i1x1 img{
    width: 100%;
}

.i2x2 img{
    width: 100%;
}
.i2x2 {
    margin: 5px 5px 0px 0px;
}

.sobre{
    margin: 30px;
}

p{
    margin-bottom: 20px;
}
