.proboxTitle {
    margin-bottom: 40px;
}

.proboxTitle button{
    height: 6vw;
    width: 20vw;

    background-color: transparent;
    border: 0;
    border-radius: 5px;

    color: white;
    font-size: 3.2vw;
    font-weight: 200;
    margin-right: 35px ;
    

}

.proboxTitle h3{
    font-size: 4.5vw;
    margin: 0;
}

.proboxShowcase img{
    width: 100%;
    border-radius: 8px;

}
.proboxShowcase{
    font-size: 3.2vw;
    font-weight: 300;
}

.half{
    display: flex;
    flex-direction: row;
}



.half div{
    padding: 5px;
}

.bottom{
    text-align: end;
    flex-direction: row-reverse;
    

}